<template>
  <div class="wrapper">
    <section class="hero is-primary is-large header-image">

      <div class="hero-body">
        <div class="container has-text-centered head-title">
          <h1 class="title is-2">
            This is a demo for Top Doctors
          </h1>
          <h2 class="subtitle is-5">
            Page components ;)
          </h2>
          <p>
            <a class="button is-outlined">
              <span class="icon">
                <i class="fa fa-download"></i>
              </span>
              <span>
                I am a button
              </span>
            </a>
          </p>
        </div>
      </div>
    </section>
    <div class="hero-cta">
      <nav class="level">
        <div class="level-item has-text-centered">
          <p class="title">I'm a button <a class="button is-primary"><span class="icon"><i class="fa fa-download"></i></span><span>Intent</span></a></p>
        </div>
      </nav>
    </div>
    <div class="section main">
      <div class="container">
        <div class="columns">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="http://lorempixel.com/960/540/technics?v=1" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="http://lorempixel.com/96/96/abstract?v=1" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Nice and clean</p>
                  <p class="subtitle is-6">@topdoctors</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a>#css</a> <a>#responsive</a>
                <br>
                <small>11:09 PM - 26 Apr 2017</small>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="http://lorempixel.com/960/540/technics?v=2" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="http://lorempixel.com/96/96/abstract?v=2" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Lightweigh and quick</p>
                  <p class="subtitle is-6">@idonia</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a>#css</a> <a>#responsive</a>
                <br>
                <small>12:39 PM - 26 Apr 2017</small>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9">
                <img src="http://lorempixel.com/960/540/technics?v=3" alt="Image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="http://lorempixel.com/96/96/abstract?v=3" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Responsive and standard</p>
                  <p class="subtitle is-6">@cool</p>
                </div>
              </div>

              <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a>#css</a> <a>#responsive</a>
                <br>
                <small>18:39 PM - 26 Apr 2017</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    components: {
    }
  }
</script>

<style lang="scss">


.hero.header-image {
  background-color: #000;
  background-image: url('../../../static/images/promo-bg.jpg');
  background-position-x: center;
  background-repeat: no-repeat;
}

.is-outlined {
  background-color: transparent;
  color: #fff;
}

.hero-cta {
  padding: 30px 0;
}

.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color: #95A5A6;
}

.section {
    background-color: #fff;
    padding: 40px 20px;
}

.section.main {
  background-color: #F0F0F0;
}

.icon-block {
  font-size: 5em;
}

.card{
  margin:.3em;
}


</style>
