<template>
<div class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          SEND US A MESSAGE!
        </h1>
      </div>
    </div>
  </section>
  <div class="column is-half is-offset-one-quarter">
    <div class="name field control columns">
      <div class="column">
        <input class="first input" placeholder="First Name" type="text">
      </div>
      <div class="column">
        <input class="last input" placeholder="Last Name" type="text">
      </div>
    </div>
    <div class="contact control columns">
      <div class="column">
        <input class="email input" placeholder="E-mail Address" type="text">
      </div>
    </div>
    <div class="message control">
      <textarea class="textarea" placeholder="Your Message Here!"></textarea>
    </div>
    <div class="field is-grouped">
      <button class="button is-primary">Send Message</button>
    </div>
  </div>
</div>
</template>

<script>

  export default {
    components: {
    }
  }
</script>

<style lang="scss">

section.hero {
  text-align:center;
  background: rgba(0,0,0,.05);
}

.field.is-grouped {
  float:right;
}

</style>
