<template>
  <div class="container fluid">
    <div class="content">
      <div class="field">
        <label class="label">Priority</label>
        <p class="control">
            <span class="select">
              <select v-model="task.priority">
                <option value="min">Minimum</option>
                <option value="low">Low</option>
                <option value="med">Medium</option>
                <option value="high">High</option>
                <option value="max">Maximum</option>
              </select>
            </span>
        </p>
      </div>
      <div class="field">
        <label class="label">Title</label>
        <p class="control">
          <input class="input" type="text" v-model="task.title" placeholder="Title">
        </p>
      </div>
      <div class="field">
        <label class="label">Content</label>
        <p class="control">
          <textarea class="textarea" placeholder="Content" v-model="task.contents"></textarea>
        </p>
      </div>
    </div>
    <div class="field is-grouped">
      <p class="control">
        <button v-if="task.task_id" class="button is-danger" @click="deleteFunction(task)">Delete</button>
      </p>
      <p class="control">
        <button v-if="task.task_id" class="button" @click="editFunction(task)">Edit</button>
      </p>
      <p class="control">
        <button v-if="!task.task_id" class="button is-primary" @click="createFunction(task)">Save</button>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'modify-task',
    props: {
      task: {
        type: Object,
        default: () => {
          return {
            title: '',
            contents: '',
            priority: 'min'
          }
        }
      },
      deleteFunction: {
        type: Function,
        default: (task) => {}
      },
      editFunction: {
        type: Function,
        default: (task) => {}
      },
      createFunction: {
        type: Function,
        default: (task) => {}
      }
    },
    data () {
      return {}
    }
  }
</script>

<style lang="scss">

</style>
