<template>
  <div class="hero-head field">
    <header class="nav has-shadow">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item" href="/">
            <img src="../../static/images/logo-idonia.png" alt="Logo">
          </a>
        </div>
        <span class="nav-toggle">
            <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a href="/task/list" class="nav-item" v-bind:class="{ 'is-active': activeTab == '/task/list' }">
            Home
          </a>
          <a href="/about" class="nav-item" v-bind:class="{ 'is-active': activeTab == '/about' }">
            About
          </a>
          <a href="/contact" class="nav-item" v-bind:class="{ 'is-active': activeTab == '/contact' }">
            Contact
          </a>
          <span class="nav-item">
              <a class="button is-info is-outlined is-inverted">
                <span class="icon">
                  <i class="fa fa-github"></i>
                </span>
          <span>Download Source</span>
          </a>
          </span>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
  export default {
    name: 'header-td',
    data: () => {
      return {
        hasError: false
      }
    },
    computed: {
      activeTab () { return this.$route.fullPath }
    },
    mounted: () => {
      var burger = document.querySelector('.nav-toggle')
      var menu = document.querySelector('.nav-menu')
      burger.addEventListener('click', () => {
        burger.classList.toggle('is-active')
        menu.classList.toggle('is-active')
      })
    }
  }
</script>

<style lang="scss">

  body div{

    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
  }
</style>
