<template>
  <edit-task :task="task" :editFunction="writeTask" :deleteFunction="deleteTask"/>
</template>

<script>
  import axios from 'axios'
  import EditTask from '@/components/EditTask'

  export default {
    components: {
      'edit-task': EditTask
    },
    data () {
      return {
        task: {}
      }
    },
    mounted () {
      axios.get(process.env.API_URL + 'tasks/' + this.$route.params.id).then(response => {
        this.task = response.data
      })
    },
    methods: {
      writeTask (task) {
        axios.put(process.env.API_URL + 'tasks/' + task.task_id, {
          title: task.title,
          contents: task.contents,
          priority: task.priority
        }).then((response) => {
          this.$router.push({path: '/task/list'})
        })
      },
      deleteTask (task) {
        axios.delete(process.env.API_URL + 'tasks/' + task.task_id).then(() => {
          this.$router.push({path: '/task/list'})
        })
      }
    }
  }
</script>
