<template>
  <div class="container fluid">

    <table class="table">
      <tr>
        <th>Check</th>
        <th>Priority</th>
        <th>Title</th>
        <th>Datetime</th>
      </tr>
      <tbody>
      <tr v-for="task in tasks" :key="task.task_id" class="task-item" :class="{completed: task.completed}"
          @click="goToDetails(task.url)">
        <th>
          <input type="checkbox" :checked="task.completed"
                 @click.prevent.stop="completeTask(task.task_id, !task.completed)">
        </th>
        <td>
            <span class="icon" v-for="n in priorityLevel(task.priority)">
              <i class="fa fa-exclamation" :class="'priority priority-' + task.priority"></i>
            </span>
        </td>
        <td>{{task.title}}</td>
        <td>{{prettyDatetime(task.datetime)}}</td>
      </tr>
      </tbody>
    </table>
    <div class="field is-grouped">
      <button class="button is-primary" @click="goToNew()">New</button>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data: function () {
      return {
        tasks: [],
        priorities: ['min', 'low', 'med', 'high', 'max']
      }
    },
    methods: {
      priorityLevel: function (priority) {
        return this.priorities.indexOf(priority) + 1
      },
      goToDetails: function (id) {
        this.$router.push({name: 'TaskId', params: {id: id}})
      },
      goToNew: function () {
        this.$router.push({name: 'TaskNew'})
      },
      completeTask (id, completed) {
        axios.put(process.env.API_URL + 'tasks/' + id, {
          completed: completed
        }).then(() => {
          for (var i = 0, len = this.tasks.length; i < len; i++) {
            if (this.tasks[i].task_id === id) {
              this.tasks[i].completed = completed
            }
          }
        })
      },
      sort (a, b) {
        if (a.completed === b.completed) {
          if (this.priorityLevel(b.priority) === this.priorityLevel(a.priority)) {
            return new Date(b.datetime) - new Date(a.datetime)
          } else {
            return this.priorityLevel(b.priority) - this.priorityLevel(a.priority)
          }
        } else {
          return a.completed - b.completed
        }
      },
      prettyDatetime (datetime) {
        let date = new Date(datetime)

        var year = date.getYear() + 1900
        var month = ('0' + date.getMonth() + 1).slice(-2)
        var day = ('0' + date.getDay()).slice(-2)
        var hours = ('0' + date.getHours()).slice(-2)
        var minutes = ('0' + date.getMinutes()).slice(-2)
        return day + '-' + month + '-' + year + ' ' + hours + ':' + minutes
      }
    },
    mounted () {
      axios.get(process.env.API_URL + 'tasks').then(response => {
        this.tasks = response.data
        this.tasks.sort(this.sort)
      })
    }
  }
</script>

<style lang="css" scoped>
  .priority-min {
    color: darkgrey;
  }

  .priority-low {
    color: black;
  }

  .priority-med {
    color: lightskyblue;
  }

  .priority-high {
    color: blue;
  }

  .priority-max {
    color: orangered;
  }

  .task-item.completed {
    color: lightgrey !important;
    text-decoration: line-through;
  }

</style>
