<template>
  <edit-task :createFunction="writeTask"/>
</template>

<script>
  import axios from 'axios'
  import EditTask from '@/components/EditTask.vue'

  export default {
    components: {
      'edit-task': EditTask
    },
    data () {
      return {}
    },
    methods: {
      writeTask (task) {
        axios.post(process.env.API_URL + 'tasks', {
          title: task.title,
          content: task.content,
          priority: task.priority
        }).then((response) => {
          this.$router.push({path: '/task/list'})
        })
      }
    }
  }
</script>
