$tablet: "(max-width: 768px)"
$desktop: "(min-width: 769px)"

@media screen and #{$tablet}
  section.header-image
    background-image: url('///images/promo-bg-mobile.jpg')
    background-size: cover

  .head-title
    visibility: hidden

@media screen and #{$desktop}
