// 2. Set your own initial variables
// Update -blue
$blue: #53334A
// Add -pink
$pink: #C06C86

$dang: #ff8864
// Add a serif family
$family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// 3. Set the derived variables
// Use the new -pink as the primary color
$primary: $pink
// Use the existing -orange as the danger color
$danger: $dang
// Use the new serif family
$family-primary: $family-serif

.nav-item a.is-active, a.nav-item.is-active
    background: $pink
    color: white !important

body, img
  transition: all .2s linear
  -o-transition: all .2s linear
  -moz-transition: all .2s linear
  -webkit-transition: all .2s linear
