<template>
  <div id="app">
    <header-td/>
    <router-view></router-view>
  </div>
</template>

<script>
  import HeaderTD from '@/components/Header'

  export default {
    name: 'app',
    components: {'header-td': HeaderTD}
  }
</script>

<style lang="sass">
  @import "../node_modules/bulma/sass/utilities/initial-variables.sass"
  @import "assets/theme.sass"
  @import "../node_modules/bulma/bulma.sass"
  @import "assets/demo-td.sass"
</style>
